<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
        <h1 class="mb-4">Camp Intro Page</h1>
        <p><strong>Camp ID:</strong> <%= @camp.id %></p>
        <p><strong>Title:</strong> <%= @camp.title %></p>
        <p><strong>Location:</strong> <%= @camp.location %></p>
        <p><strong>Start Date:</strong> <%= @camp.start_date %></p>
        <p><strong>End Date:</strong> <%= @camp.end_date %></p>
        </div>
      </div>
    </div>
  </div>
<%= link_to 'back', user_select_camp_path, class: 'btn btn-secondary mt-3' %>
<%= link_to 'index page', camps_path, class: 'btn btn-secondary mt-3' %>
