<% if user_signed_in? %> 
 <div> <b>Current User: </b> <%= current_user.email %> </div> 
<% end %>



<h1>List of Users</h1>


<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by name, email, or ID" %>
  <%= submit_tag "Search" %>
<% end %>


<table class="table table-dark">
  <thead>
    <tr>
      <th>User ID</th> <br/>
      <th>FirstName</th><br/>
      <th>MiddleName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.middle_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.country %></td>
         <td>
          <%= link_to 'View', user_path(user) %>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_user_path(user) %>
        </td>       



      </tr>
    <% end %>
  </tbody>
</table>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete , data: { confirm: "Are you sure you want to sign out?" }%> 

<% if @user.present? %>
  <%= paginate @user %>
<% end %>
<%= link_to 'Export to CSV', export_csv_users_path(format: :csv) %>
